.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
} 

.text-left {
  text-align: left;
}

.footer-padding {
  padding: 22px;
}

.download-link {
  padding-bottom: 120px;
}

.previous-employee {
  color: white;
}

.text-color {
  color: teal;
}

a {
  color: #919793;
  transition: background-color .5s;
}

a:hover {
  color: white;
}

.contact-links {
  color: black;
  transition: background-color .5s;
}

.contact-links:hover {
  color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
